<a href="https://colab.research.google.com/github/alyssakokkatt/stats/blob/main/Jan16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python

In [3]:
print('Welcome to Python') #This is a print statement.

Welcome to Python

##Variables and expressions

In [5]:
a = 5                #This variable stores an int
var1= 10.0            #This variable stores a float
str_var = "Alex"      #This variable stores a string

In [9]:
type(str_var)#Lists the datatype of the variable

str

In [11]:
num1 = 1
num2 = 3
num3 = num1/num2      #There's finite precision when it comes to floating point numbers.
num3

0.3333333333333333

In [12]:
y = var1+a #Adding an int and a float
y

15.0

###Operators

In [18]:
p= num1 +num2 #Addition
q = num1-num2 #Subtraction
r = num1*num2 #Multiplication
s = num1/num2 #Division
t = num1// num2 #Floor Division   #integer dividend skips floating point #Guves dividend
u = num1%num2 #Modulus, gives the remainder
v = num1**num2 #Exponent

In [24]:
print(p,q,r,s, t, u, v)
print(" The value of p is=",p)#Old fashioned way of combing strings and variables
print(f"The value of p is {p}") #Using f-strings

4 -2 3 0.3333333333333333 0 1 1
 The value of p is= 4
The value of p is 4

###Lists

In [26]:
int_list= [1,2,3,4] #List of integers
float_list = [1.0,2.5,3.7,5.5] #List of floats
str_lists = ["a","b","c","d"] #List of strings
mixed_list = [1,2.4,"a",p] #Mixed list contaning elements of different

In [28]:
mixed_list

[1, 2.4, 'a', 4]

Aggregate funcitons on lists

In [29]:
sum(int_list)#Gives sum of all elements
len(float_list)#gives count of
sum(mixed_list)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [30]:
int_float_list = int_list + float_list #Concatenates two lists
int_float_list

[1, 2, 3, 4, 1.0, 2.5, 3.7, 5.5]

Exercise- Calculate the avrge scores of this class

In [51]:
scores = [65,78,30,85]
average_score = sum(scores)/len(scores)
average_score

print(f"The average score of the class is {average_score}")

The average score of the class is 64.5

In [52]:
average_score = sum(scores)/len(scores)
max_score = max(scores) #Gives the maximum
min_score = min(scores) #Gives the minimum
print(f"The average score of the class is {average_score}, and the class highest is {max_score}, and the lowest is {min_score}")

The average score of the class is 64.5, and the class highest is 85, and the lowest is 30

###Functions and if statements

In [53]:
def has_student_passed(score):
  """
This is a multiline comment.
This function takes the score and returns pass if
the score is above 40.
  """
  if score>= 40:
    print("The student has passed the course") #Gets executed when if condition is satisfied
  else:
    print("The student has not passed the course")
  return 0
  has_student_passed(90)
  has_student_passed(25)

FOr loop

In [60]:
for s in scores:
  print(f"s={s}")
  has_student_passed(s)

s=65
The student has passed the course
s=78
The student has passed the course
s=30
The student has not passed the course
s=85
The student has passed the course

##Homework Write a function to calculate grades and return the grade

In [75]:
def get_grade(score):
  if score >= 71 and score <= 100:
    return "A"
  elif score >= 61 and score <= 70:
    return "C"
  elif score >= 50 and score <= 60:
    return "D"
  elif score >= 40 and score < 50:
    return "E"
  else:
    return "U"
    get_grade(90)
    get_grade(55)

In [78]:
for s in scores:
  print(f"s={s}")
  get_grade(s)

s=65
s=78
s=30
s=85

Getting Help

In [79]:

help(sum) #To get help on function

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

Dictionaries

In [86]:
# A dictionary is a data structure that does 1-1 mapping of key-value pairs
scores = [65,78,30,85]
scores_dict = {"Alex":scores[0],"nandini":scores[1],"Trusha":scores[2],"Yash":scores[3]}
scores_dict

{'Alex': 65, 'nandini': 78, 'Trusha': 30, 'Yash': 85}

Homework: (1) Use this dictionary along with the for loop to print the name and the score of the student
(2)You can also try calculating the grade of each student inside the for block.

In [85]:
1 for key, valye in scores_dict
print(key,scores)

SyntaxError: invalid syntax (ipython-input-2774850680.py, line 1)

In [ ]:
scores_dict.keys()#

In [ ]:
scores_dict.keys()#Gives all the keys of the dictionary

NUMPY- helps work w arrays and numerical calculations

In [89]:
import numpy as np# Imporitng the numpy package

In [98]:
zeros_array = np.zeros(10) #An array of 10 zeros
zeros_array

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [100]:
zeros_arr_int_2D = np.zeros(shape=(4,3),dtype=int) #A 2D arrays of zeros of ones
zeros_arr_int_2D

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [101]:
arr1 = np.ones
ones_arr = np.ones(10) #An array of 10 ones
ones_arr

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [103]:
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([6,7,8,9,10])           # this one only prints the last array which is why its always bets tp use the print statement.
arr1
arr2

print(f"Fist array is {arr1} and its trype is {type(arr1)}")   # arr1 now it belongs ot numpy family its not just a simple list
print(f"Second array is {arr2}")

Fist array is [1 2 3 4 5] and its trype is <class 'numpy.ndarray'>
Second array is [ 6  7  8  9 10]

Numpy array operations - does elemtn wise operations which is different from lists

In [107]:
add_arr= arr1+arr2 #Adding numps arrays ;eads to element wise addition
print(add_arr)

sub_arr = arr1-arr2 #This is true for other operations as well
print(sub_arr)

mult_arr= arr1*arr2
print(mult_arr )

div_arr = arr1/arr2
print(div_arr)

[ 7  9 11 13 15]
[-5 -5 -5 -5 -5]
[ 6 14 24 36 50]
[0.16666667 0.28571429 0.375      0.44444444 0.5       ]

In [91]:
help(np.zeros)

Help on built-in function zeros in module numpy:

zeros(...)
    zeros(shape, dtype=float, order='C', *, like=None)

    Return a new array of given shape and type, filled with zeros.

    Parameters
    ----------
    shape : int or tuple of ints
        Shape of the new array, e.g., ``(2, 3)`` or ``2``.
    dtype : data-type, optional
        The desired data-type for the array, e.g., `numpy.int8`.  Default is
        `numpy.float64`.
    order : {'C', 'F'}, optional, default: 'C'
        Whether to store multi-dimensional data in row-major
        (C-style) or column-major (Fortran-style) order in
        memory.
    like : array_like, optional
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        Array of zeros with the given shape, dtype, and order.

    See Also
    --------
    zeros_like : Return an array of zeros with shape and type of input.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    full : Return a new array of given shape filled with value.

    Examples
    --------
    >>> np.zeros(5)
    array([ 0.,  0.,  0.,  0.,  0.])

    >>> np.zeros((5,), dtype=int)
    array([0, 0, 0, 0, 0])

    >>> np.zeros((2, 1))
    array([[ 0.],
           [ 0.]])

    >>> s = (2,2)
    >>> np.zeros(s)
    array([[ 0.,  0.],
           [ 0.,  0.]])

    >>> np.zeros((2,), dtype=[('x', 'i4'), ('y', 'i4')]) # custom dtype
    array([(0, 0), (0, 0)],
          dtype=[('x', '<i4'), ('y', '<i4')])